@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{ 
    var spotsContentEnumerable = Model.Value<IEnumerable<IPublishedElement>>("spots");
}

<div class="h-container">
    @foreach (var spotsContent in spotsContentEnumerable)
    {
        var imageUrl = spotsContent.Value<IPublishedContent>("spotImage").Url();

        <div class="v-container">
            <a href="@spotsContent.Value("spotLink")">
                <img class="mini-featured-img"
                     src="@imageUrl"
                     alt="featured product" />
            </a>
            <h2>@spotsContent.Value("spotHeading")</h2>
        </div>
    }
</div>