@using Umbraco.Cms.Web.Common.PublishedModels;
@using FreakyFashionPoweredByUmbraco.Controllers;
@using FreakyFashionPoweredByUmbraco.Models.ViewModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<CheckOutPageViewModel>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "Master.cshtml";
}

@using (Html.BeginUmbracoForm<CheckOutPageSurfaceController>(nameof(CheckOutPageSurfaceController.HandleSubmit), null, new { @class = "row w-50" }))
{
    <div class="form-container">
        @await Umbraco.RenderMacroAsync("renderUmbracoForm", new {FormGuid="f00a260d-1f91-4062-89ab-40b3db22bf9c", FormTheme="bootstrap3-horizontal", ExcludeScripts="0"})
    </div>
}

