@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
}

@* the fun starts here *@

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Freaky Fashion</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" href="~/css/styles.css"/>
  </head>


  <body>
    <header class="v-container">
        <div class="h-container">
            <div class="left-corner-container">
                <div class="logo-container">
                    <img src="~/css/logo.jpg" alt="logo" />
                </div>
                <div>
                    <form class="v-container search-bar-container" method="get" action="hellothere.html">
                        <input class="search-bar" type="search" placeholder="Sök..." required />
                        <i class="material-icons">search</i>
                    </form>
                </div>
            </div>

            <div class="right-corner-container">
                <div>
                    <label for="languages">Choose a language:</label>
                    <select name="languages" id="languages">
                        <option value="Swedish">Svenska</option>
                        <option value="Danish">Danska</option>
                        <option value="Norwegian">Norska</option>
                        <option value="English">Engelska</option>
                    </select>
                </div>

                <div class="icon-container">
                    <a href="hellothere.html"><i class="material-icons">home</i></a>
                    <a href="hellothere.html"><i class="material-icons">shopping_cart</i></a>
                    <a href="hellothere.html"><i class="material-icons">login</i></a>
                </div>
            </div>
        </div>
      
      <nav class="global-navigation">
          <ul>
              <li><a href="/">Hem</a></li>
          </ul>
      </nav>  
    </header>

    <main>
      @RenderBody();
    </main>

    
     
    <footer>
        <div class="h-container icons-line">
            <div class="h-container icon-link-pair">
                <i class="material-icons">swap_horizontal_circle</i>
                <a href="hellothere.html">
                    <p>Gratis frakt och returer</p>
                </a>
            </div>

            <div class="h-container icon-link-pair">
                <i class="material-icons">local_shipping</i>
                <a href="hellothere.html">
                    <p>Express frakt</p>
                </a>
            </div>

            <div class="h-container icon-link-pair">
                <i class="material-icons">attach_money</i>
                <a href="hellothere.html">
                    <p>Säkra betalningar</p>
                </a>
            </div>

            <div class="h-container icon-link-pair">
                <i class="material-icons">map</i>
                <a href="hellothere.html">
                    <p>Nyheter varje dag</p>
                </a>
            </div>
        </div>

        <div class="h-container">
            <div class="left-corner-container bottom-links-container">
                <div class="v-container">
                    <h3>Shopping</h3>
                    <a href="hellothere.html">Vinterjackor</a>
                    <a href="hellothere.html">Pufferjackor</a>
                    <a href="hellothere.html">Kappa</a>
                    <a href="hellothere.html">Trenchcoats</a>
                </div>

                <div class="v-container">
                    <h3>Mina sidor</h3>
                    <a href="hellothere.html">Mina Ordrar</a>
                    <a href="hellothere.html">Mitt Konto</a>
                </div>

                <div class="v-container">
                    <h3>Kundtjänst</h3>
                    <a href="hellothere.html">Returpolicy</a>
                    <a href="hellothere.html">Intergritetspolicy</a>
                </div>
            </div>

            <div class="right-corner-container">
                <div class="v-container" id="bottom-land-language-form">
                    <h5>Välj land och språk</h5>
                    <label for="land">Land</label>
                    <select name="land" id="land">
                        <option value="Sweden">Sverige</option>
                        <option value="Denmark">Danmark</option>
                        <option value="Norway">Norge</option>
                        <option value="England">England</option>
                    </select>

                    <label for="lang">Språk</label>
                    <select name="lang" id="lang">
                        <option value="Swedish">Svenska</option>
                        <option value="Danish">Danska</option>
                        <option value="Norwegian">Norska</option>
                        <option value="English">Engelska</option>
                    </select>
                </div>
            </div>
        </div>

        <small>Copyright 2020 FreakyFashion</small>
    </footer>
  </body>
</html>
