@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.StartPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "Master.cshtml";
}

<!---------------------------------------- Hero ---------------------------------------------------------------------------------->
@await Html.PartialAsync("Hero")


<!---------------------------------------- Spots --------------------------------------------------------------------------------->
@await Html.PartialAsync("Spots")


<!--------------------------------------- Popular products ----------------------------------------------------------------------->
@{
    var content = Model.Value<IPublishedContent>("popularProductsProducts");
}

<h2 style="background-color:white; text-align:center;">@Model.Value("popularProductsHeading")</h2>

<div class="grid-container"> 
    @foreach (var product in content.Children)
     {
        var image = product.Value<IPublishedContent>("productImage");
        var imageUrl = image != null ? image.Url() : "https://www.pngpix.com/wp-content/uploads/2016/11/PNGPIX-COM-T-Shirt-Vector-PNG-Transparent-Image.png";
        
        <a href="/">
            <h3>@product.Name</h3>
            <img class="product-img"
                 src="@imageUrl"
                 alt="featured product" />
        </a>
     }
</div>

