body {
    background-color: black;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*----------------------- Containers -----------------------*/
.h-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: white;
    overflow: hidden;
}

    .h-container div {
        padding: 2px;
        overflow: hidden;
    }

.v-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    overflow: hidden;
}

    .v-container div {
        padding: 5px;
        overflow: hidden;
    }

.left-corner-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.right-corner-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    background-color: white;
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 30px;
}


/*---------------------- Header --------------------------*/
.logo-container img {
    height: 6vw;
}

.search-bar-container {
    position: relative;
}

    .search-bar-container i {
        position: absolute;
        align-self: flex-end;
        opacity: 0.5;
        padding: 1px;
    }

.icon-container i {
    margin: 5px;
    font-size: 25px;
}


/*-------------------- Global navigation ---------------*/
.global-navigation ul {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    background-color: white;
}

    .global-navigation ul li {
        display: inline-block;
        list-style-type: none;
        padding: 5px;
    }

a {
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    color: black;
}

    a:hover {
        color: rgb(204, 28, 28);
    }



/*-------------------------- Hero section ------------------------*/
.hero .intro {
    align-self: flex-start;
    width: 300px;
    padding-left: 10px;
}

    .hero .intro button {
        width: 100px;
        height: 50px;
        background-color: white;
        color: black;
        border: 2px solid rgb(190, 0, 0);
    }

        .hero .intro button:hover {
            background-color: rgb(190, 0, 0);
        }

.hero img {
    width: 66vw;
}


/*------------------------ Featured products section ---------------- */
h2 {
    align-self: center;
    color: white;
    font-size: 45px;
}

.mini-featured-img {
    width: 27vw;
    opacity: 0.8;
}

.popular-products-section {
    margin-top: -18px;
    margin-bottom: -15px;
    background-color: white;
}

.popular-products-section h1 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 40px;
    opacity: 0.8;
}

.product-container {
    width: 260px;
    border: 0.1px solid #80808040;
    box-shadow: #8080804a 5px 5px;
    color: rgb(70 70 70 / 0.58);
    transition: all .5s ease-in-out;
}

    .product-container :hover {
        opacity: 0.7;
        transform: scale(1.05);
    }

.product-img-container {
    height: 245px;
}

.product-img {
    height: 100%;
}

    .mini-featured-img:hover, .maxi-featured-img:hover {
        opacity: 0.6;
    }


.product-details-img-container {
    height: 500px;
}

.product-details-container {
    width: 30vw;
}

.product-details-container > * {
    margin-bottom: 15px;
}

.product-details-container button {
    align-self: flex-start;
    height: 60px;
}


/*------------------ Search results for search page --------------------*/
.search-results {
    background-color: white;
    margin-top: 20px;
    padding: 25px;
}

.search-results-count {
    text-align: center;
}

.search-result-container {
    border: 1px solid black;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    transition: all .5s ease-in-out;
}

.search-result-container img {
    width: 300px;
    margin-right: 20px;
}

    .search-result-container:hover {
        opacity: 0.75;
        transform: scale(1.01);
    }




/*--------------------------- Bottom icons line ---------------------*/
.icons-line {
    justify-content: space-evenly;
}


/*-------------------------- Bottom section --------------------*/
.bottom-links-container {
    align-items: flex-start;
}

    .bottom-links-container div {
        margin-right: 70px;
    }

#bottom-land-language-form {
    width: 250px;
    margin-right: 60px;
}

.bottom-land-language-form > * {
    margin: 5px;
}


/*-------------------------- Footer ---------------------------*/
footer {
    background-color: white;
    text-align: center;
    padding: 10px;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~ Responsive design ~~~~~~~~~~~~~~~~~~~ */
@media only screen and (max-width: 1030px) {
    .h-container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .v-container {
        align-items: center;
    }

        .v-container > * > * {
            width: 100%;
        }

    .hero {
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: center;
    }

        .hero .intro {
            align-self: center;
        }

        .hero img {
            width: 100%;
        }

    .maxi-featured-img {
        display: none;
    }

    .icon-link-pair {
        flex-direction: row;
    }
}

@media only screen and (max-width: 700px) {
    .global-navigation ul li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero .intro {
        width: auto;
    }
}

@media only screen and (max-width: 580px) {
    .left-corner-container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

        .left-corner-container > * {
            justify-content: flex-start;
            align-items: flex-start;
            width: 100%;
        }

    .logo-container img {
        width: 100%;
        height: 100%;
    }

    .search-bar {
        width: 100%;
    }

    .bottom-links-container div {
        margin-right: 0px;
    }

    .right-corner-container {
        display: none;
    }
}
